<div class="content">
  <h2>Form</h2>
</div>
<div class="content">
  <h3>Full example</h3>
  <p>
    Below you can see what the <code class="code">hm-input-container</code> is capable of.<br/>
    You can group a label, an input, an error-text and a hint to one field<br/>
    After this example we will tell you the details about the single parts of a form-group
  </p>
</div>
<div class="card p-0">
  <div class="content">
    <form class="w-400 mw-full">
      <hm-input-container>
        <label for="name">Name (Required)</label>
        <hm-error *ngIf="nameModel.hasError('required')">Field is required</hm-error>
        <hm-error *ngIf="nameModel.hasError('pattern')">Only alphanumeric characters and underscores allowed.</hm-error>
        <input hmInput type="text"
               id="name" name="name"
               #nameModel="ngModel"
               [(ngModel)]="name" pattern="[A-Za-z0-9_]+" placeholder="Name" required>
        <hm-hint>
          Only alphanumeric characters and underscores allowed.
        </hm-hint>
      </hm-input-container>
      <hm-select-container>
        <label for="specialization1">Specialization</label>
        <hm-error>Mandatory field</hm-error>
        <select hmSelect [(ngModel)]="specialization" name="specialization" required id="specialization1">
          <option value="" selected>Select a specialization</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
          <option value="fullstack">Fullstack</option>
        </select>
        <hm-hint>Select your specialization</hm-hint>
      </hm-select-container>
    </form>
  </div>
</div>
<div class="content">
  <h3>Connect input with label</h3>
  <p>
    You can add a label by adding it inside of the <code class="code">hm-[input|select]-container</code>.<br/>
    Currently you need to connect it to your control via an identifier and adding the <code class="code">for</code> attribute to the label
    Once your control has the required attribute your label will get a * added to it.
  </p>
</div>
<div class="card p-0">
  <div class="content">
    <form class="w-400 mw-full">
      <hm-input-container>
        <label for="username">Username</label>
        <input type="text" hmInput id="username" [formControl]="usernameControl" placeholder="Enter your username">
      </hm-input-container>
      <hm-input-container>
        <label for="usernameRequired">Username</label>
        <input type="text" hmInput id="usernameRequired" [formControl]="usernameRequiredControl" required placeholder="Enter your username">
      </hm-input-container>
    </form>
  </div>
</div>
<div class="content">
  <h3>Giving hints to the user</h3>
  <p>
    You can give the user some information about what he is supposed to enter in your field.<br/>
    Simply add the <code class="code">hm-hint</code> component inside your <code class="code">hm-[input|select]-container</code> and enter your information.
  </p>
</div>
<div class="card p-0">
  <div class="content">
    <form class="w-400 mw-full" [formGroup]="form">
      <hm-input-container>
        <label for="firstname">Firstname</label>
        <input type="text" hmInput id="firstname" formControlName="firstname" placeholder="Enter your firstname">
        <hm-hint>Only alphabetic characters allowed</hm-hint>
      </hm-input-container>
      <hm-select-container>
        <label for="specialization">Specialization</label>
        <select hmSelect formControlName="specialization" id="specialization">
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
          <option value="fullstack">Fullstack</option>
        </select>
        <hm-hint>Select your specialization</hm-hint>
      </hm-select-container>
    </form>
  </div>
</div>
<div class="content">
  <h3>Giving feedback to the user</h3>
  <p>
    If you want to let the user know what's wrong with his input then you can do this by adding the <code class="code">hm-error</code> component.
    Inside the component you can declare the error-text that is prompted to the user.
  </p>
</div>
<div class="card p-0">
  <div class="content">
    <form class="w-400 mw-full">
      <form class="w-400 mw-full" [formGroup]="form">
        <hm-input-container>
          <label for="familyname">Familyname</label>
          <hm-error>Only alphabetic characters allowed</hm-error>
          <input type="text" hmInput id="familyname" formControlName="familyname" placeholder="Enter your familyname">
        </hm-input-container>
        <hm-select-container>
          <label for="gender">Gender</label>
          <hm-error>Mandatory field</hm-error>
          <select hmSelect formControlName="gender" required id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="diverse">Diverse</option>
          </select>
        </hm-select-container>
      </form>
    </form>
  </div>
</div>
