<div class="content">
  <h2>Select</h2>
</div>
<div class="content">
  <h3>Basic Usage</h3>
  <p>
    To apply the basic styles to your select simply add <code class="code">hmSelect</code> to your select-element.<br/>
    This directive adds all you need to start developing your forms with select-elements.<br/>
  </p>
</div>
<div class="card p-0">
  <div class="content w-400 mw-full">
    <form>
      <select hmSelect>
        <option value="" selected disabled="disabled">Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
    </form>
  </div>
</div>

<div class="content">
  <h3>Sizing</h3>
  <p>
    There are three different sizes you can apply to your input-element.<br/>
    You can apply a size by filling out the Select of the <code class="code">hmSelect</code> Directive called <code class="code">size</code>.<br/>
    When you want the normal size then simple leave out the Select because the default is normal.<br/>
  </p>
  <ul>
    <li>large (lg)</li>
    <li>normal</li>
    <li>small (sm)</li>
  </ul>
</div>
<div class="card p-0">
  <div class="content w-400 mw-full">
    <form>
      <select hmSelect size="lg">
        <option value="" selected disabled="disabled">Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
      <select hmSelect>
        <option value="" selected disabled="disabled">Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
      <select hmSelect size="sm">
        <option value="" selected disabled="disabled">Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
    </form>
  </div>
</div>

<div class="content">
  <h3>Disabled</h3>
  <p>
    Disabling your select is super easy just add <code class="code">disabled</code> to your input and it should be disabled.
  </p>
</div>
<div class="card p-0">
  <div class="content w-400 mw-full">
    <form>
      <select hmSelect disabled>
        <option value="" selected disabled="disabled">Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
      <select hmSelect disabled>
        <option value="" disabled="disabled">Select a color</option>
        <option value="red" selected>Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
    </form>
  </div>
</div>

<div class="content">
  <h3>Validation Template-Driven</h3>
  <p>
    The validation is acomplished inside of the <code class="code">hmInput</code> Directive.<br/>
    As you might know in Angular there are two different ways of building your forms.<br/>
    The first and more easy to use one is Template-Driven Forms where you define your form inside of the template.<br/>
    You can try the validation by adding a <code class="code">required</code> to your input-element than focus in and out of your input.<br/>
    There should now be a red-border around your input.
  </p>
</div>
<div class="card p-0">
  <div class="content w-400 mw-full">
    <form>
      <select hmSelect [(ngModel)]="test" name="test">
        <option value="" selected disabled>Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
      <select hmSelect [(ngModel)]="testRequired" name="testRequired" required>
        <option value="" selected disabled>Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
    </form>
  </div>
</div>
<div class="content">
  <h3>Validation Reactive</h3>
  <p>
    The second is Reactive-Forms where you define your form in your typescript code in a more declarative way.<br/>
    You can try the validation by adding a create a <code class="code">FormControl</code> and adding <code class="code">Validators.required</code> to your control than focus in and out of your input.<br/>
    There should now be a red-border around your input.
  </p>
</div>
<div class="card p-0">
  <div class="content w-400 mw-full">
    <form>
      <select hmSelect [formControl]="reactive">
        <option value="" selected disabled>Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
      <select hmSelect [formControl]="reactiveRequired">
        <option value="" selected disabled>Select a color</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
      </select>
    </form>
  </div>
</div>

